@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using FootballCMS.Controllers;
@model FootballCMS.Model.PlayerModel;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using Newtonsoft.Json.Linq;

@{
    Layout = null;
}

@{if (Model.fullName != null)
    {
        <p>@Model.fullName</p>
    }
}








